@model IdentityRole
@{
    ViewData["Title"] = "Create Role";
}
<form asp-action="Create" asp-controller="Role" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label class="form-label">Tên vai trò</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Tạo vai trò</button>
</form>